#toph1 {
	font-size: 45px;
	text-align: center;
}

#toph2 {
	margin: 0 auto;
	margin-bottom: 3%;
	text-align: center;
	width: 55%;
}

body {
	margin: 0 10%;
	background-color: #5bc3f5;
	/* background-color: #6fc1e8; */
	font-family: 'Fira Sans', sans-serif;
}

#introP {
	margin: 0 auto;
	margin-top: 3%;
	text-align: center;
	width: 60%;
}

p {
	font-family: 'Rubik', sans-serif;
}

#logo {
	margin-top: 3%;
	text-align: center;
}

header {
	background-color: rgba(255,255,255,.35);
	padding: .05em;
	border-radius: 50px;
	margin: 0 auto;
	margin-top: 3%;
	width: 80%;
}

a:link { color: #014a57; }
a:visited { color: #012930; }
a:focus, a:hover { color: #367b87;
	  background-color: rgba(255,255,255,.25); }
a:active { color: #1e6f7d;
	   background-color: #5c929c;  }

#volabout {
	text-align: center;
	margin: 0 auto;
	width: 70%;
}

#volstories {
	text-align: center;
	margin: 0 auto;
	width: 60%;
}

#volopp {
	text-align: center;
	font-size: 90%;
}

#voljoin {
	text-align: center;
	font-size: 90%;
}

footer {
	border-top: 2px solid black;
	text-align: center;
}

footer img {
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.35);
	border-radius: 10px;
}

#volun1 {
	text-align: center;
}

#volun1 img {
	width: 40%;
	height: 40%;
	border-radius: 10px;
}

#volun2 {
	text-align: center;
}

#volun2 img {
	width: 40%;
	height: 40%;
	border-radius: 10px;
}

#volun3 {
	text-align: center;
}

#volun3 img {
	width: 40%;
	height: 40%;
	border-radius: 10px;
}